.credentials-container {
  display: flex;
  flex-direction: column;
}

.credentials-container > * {
  width: 100%;
}

.credentials-right-align {
  text-align: right;
}

input.credentials-right-align::-webkit-outer-spin-button,
input.credentials-right-align::-webkit-inner-spin-button {
  display: none;
}

input.credentials-right-align {
  -moz-appearance: textfield;
}
