<div *ngIf="title">
  <p>{{title}}</p>
</div>
<div class="credentials-container">
  <form (submit)="onSubmit()">
    <div>
      <mat-form-field>
        <input matInput placeholder="Enter your username" type="text" class="credentials-right-align" name="oracle-username" [(ngModel)]="username">
      </mat-form-field>
    </div>
    <div>
      <mat-form-field>
        <input matInput placeholder="Enter your password" [type]="hide ? 'password' : 'text'" [(ngModel)]="password" name="oracle-password">
        <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
      </mat-form-field>
    </div>
    <button mat-button>OK</button>
  </form>
</div>
