<div class="credentials-container">
  <form (submit)="onSubmit()">
    <mat-form-field>
      <input matInput placeholder="Enter your username" type="text" class="credentials-right-align" [(ngModel)]="username">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Enter your password" [type]="hide ? 'password' : 'text'" [(ngModel)]="password">
      <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
    </mat-form-field>
    <button mat-button>OK</button>
  </form>
</div>
